:root {
    --dark-gray: #3a3b3c;
    --light-gray: #f5f5f5;
    --highlight: #3792cb;
    --Navy-blue: #000080;
}

/* Style everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* End of everythings style */

/* make all h1's the same size */
h1 {
    font-size: 2em;
}

/* style body */
body {
    background-color: var(--light-gray);
    font-family: Helvetica, Verdana, Arial;
    color: var(--Navy-blue);
}
/* Styling for the header */
header {
    background-color: var(--dark-gray);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

header h1 {
    padding-left: 30px;
    padding-top: 15px; 
    margin-bottom: 15px;
    margin-top: 15px;
    color: var(--dark-gray);
    background-color: var(--highlight);
    width: 240px;
}

header nav {
    margin: 30px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 70px;
}

header nav ul li {
    border-bottom: 0.21em solid var(--highlight);
    line-height: 2;
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--highlight);
    padding: 10px 15px;
}

/* Styling for hero */
.hero {
    background-image: url(../images/Myself);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-position: 80%;
    height: 500px;
    position: relative;
    margin-top: -15px;
}

.subtitle {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    bottom:0;
    background-color: var(--highlight);
    color: var(--dark-gray);
    margin-bottom: 15px;
    margin-right: 50px;
    padding: 10px 10px 10px 10px;
}

/* Styling for footer */

footer {
    background-color: var(--dark-gray);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: auto;
    margin-top: auto;
    height: auto;
}

footer h1 {
    padding-left: 30px;
    padding-top: 15px; 
    margin-bottom: 15px;
    margin-top: 15px;
    color: var(--dark-gray);
    background-color: var(--highlight);
    width: 240px;
}

footer nav {
    margin: 30px 0;
}

footer nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 70px;
}

footer nav ul li {
    border-bottom: 0.21em solid var(--highlight);
    line-height: 2;
    margin-right: 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: var(--highlight);
    padding: 10px 15px;
}

/* Styling for the About section */

.info {
    display: flex;
    flex-wrap: wrap;
}

.info h1 {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    flex: 1;
    margin: 22px 10px 15px 126px
}

.info h1:after {
    content: "" ;
    width: 0;
    height: 180px;
    position: relative;
    border-right: 4px solid var(--Navy-blue);
    top: 3px;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.info-p {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 28px;
    margin-right: 200px;
    margin-left: -130px;
    margin-bottom: 30px;
    width: 200px;
    flex-grow: 3;
    
}

/* Styling for the work section */

#work {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

#work h1 {
    display: flex;
    flex-wrap: wrap;
    margin: 22px 10px 15px 139px;
    flex: 1;
}

#work h1:after {
    content: "" ;
    width: 0;
    height: 1050px;
    position: relative;
    border-right: 4px solid var(--Navy-blue);
    bottom: 14px;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-grow: 6.4;
    position: relative;
    color: var(--dark-gray);
}

.large {
    border: 4px solid var(--highlight);
    width: 990px;
    height: 600px;
    margin: 6px;
    position: relative;
}

.large img {
    display: flex;
    flex-wrap: wrap;
    width: 982px;
    height: 593px;
    opacity: 0.5;
    transition: 150ms;
}

.small img { 
    border: 4px solid var(--highlight);
    width: 487px;
    height: 200px;
    margin: 6px;
    margin-top: 10px;
    opacity: 0.5;
    transition: 150ms;
}

.large img:hover, .small img:hover {
    content: "";
    opacity: 1;
    transition: 150ms;
}

.project-text {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: var(--highlight);
    z-index: 9999;
}

.project-text-upleft {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: var(--highlight);
    z-index: 9999;
    left: 8px;
    bottom: 428px;
}

.project-text-upright {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: var(--highlight);
    z-index: 9999;
    left: 960px;
    bottom: 428px;
}

.project-text-bottomright {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: var(--highlight);
    z-index: 9999;
    left: 893px;
    bottom: 196px;
}

.project-text-bottomleft {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: var(--highlight);
    z-index: 9999;
    left: 8px;
    bottom: 196px;
}


 /* media query for slightly shrunken screens */
 @media screen and (max-width: 1400px) {
    /* about */
    .info h1 {
        text-align: center;
        position: absolute;
        width: 50%;
        border-bottom: 2px solid var(--Navy-blue);
        padding-left: 200px;
        padding-right: auto;
    }

    .info h1:after {
        content: none;
    }

    .info-p {
        margin: 120px 100px 0 130px;
    }

    /* work */
    #work h1 {
        left: 120px;
        position: absolute;
        border-bottom: 2px solid var(--Navy-blue);
        width: 50%;
        padding-left: 215px;
        padding-right: auto;
    }

    #work h1:after {
        content: none;
    }

    .projects {
        margin-top: 80px;
    }

    .project-text-upleft {
        bottom: 404px;
        background-color: var(--highlight);
        left: 10px
    }

    .project-text-upright {
        right: auto;
        left: 961px;
        bottom: 404px;
    }

    .project-text-bottomleft {
        bottom: 184px;
        left: 10px;
    }

    .project-text-bottomright {
        right: auto;
        left: 893px;
        bottom: 100px;
    }

    /* Contact */
    footer {
        background-color: var(--dark-gray);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: auto;
    }
    
    footer h1 {
        padding-left: 30px;
        padding-top: 15px; 
        margin-bottom: 15px;
        margin-top: 15px;
        color: var(--dark-gray);
        background-color: var(--highlight);
        width: 240px;
    }
    
    footer nav {
        margin: 30px 0;
    }
    
    footer nav ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 70px;
    }
    
    footer nav ul li {
        border-bottom: 0.21em solid var(--highlight);
        line-height: 2;
        margin-right: 10px;
    }
    
    footer nav ul li a {
        text-decoration: none;
        color: var(--highlight);
        padding: 10px 15px;
    }
    
    
    
 }

 /* media query for slightly shrunken screens */
 @media screen and (max-width: 1400px) {
     .info h1 {
         left: 16.5%;
     }

     .info-p {
         padding-left: 70px;
         padding-right: 25px;
     }
 }

/* MediaQuery for smaller desktop screens and smaller */
@media screen and (max-width: 1026px) {
    /* about */
    .info h1 {
        left: 13%;
        position: absolute;
        text-align: center;
        width: 50%;
        border-bottom: 2px solid var(--Navy-blue);
        padding-left: 200px;
    }

    .info h1:after {
        content: none;
    }

    .info-p {
        margin: 120px 100px 0 130px;
    }

    /* work */
    #work h1 {
        left: 120px;
        position: absolute;
        border-bottom: 2px solid var(--Navy-blue);
        width: 50%;
        padding-left: 215px;
    }

    #work h1:after {
        content: none;
    }

    .projects {
        margin-top: 80px;
    }

    .project-text-upleft {
        bottom: 404px;
        background-color: var(--highlight);
        left: 10px
    }

    .project-text-upright {
        right: 3%;
        bottom: 404px;
    }

    .project-text-bottomleft {
        bottom: 184px;
        left: 10px;
    }

    .project-text-bottomright {
        right: 31px;
        bottom: 184px;
    }
}

  /* MediaQuery for smaller desktop screens and smaller */
@media screen and (max-width: 1020px) {
    /* work */

    .large {
        width: 970px;
        max-width: 100%;
        height: auto;
    }

    .large img {
        width: 962px;
        max-width: 100%;
        height: auto;
        width: auto/9;
    }
    .small img {
        margin-left: 245px;
        max-width: 100%;
        height: auto;
    }

    .project-text-upleft {
        bottom: 1821px;
        left: 248px;
    }

    .project-text-bottomleft {
        left: 248px;
        bottom: 1277px;
    }

    .project-text-upright {
        left: 248px;
        right: auto;
        bottom: 733px;
    }

    .project-text-bottomright {
        left: 248px;
        right: auto;
        bottom: 190px;
    }

}