:root {
    --dark-gray: #3a3b3c;
    --light-gray: #f5f5f5;
    --highlight: #3792cb;
}

/* Style everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* End of everythings style */

/* style body */
body {
    background-color: var(--light-gray);
    font-family: Helvetica, Verdana, Arial;
}

/* Styling for header */

header {
    background-color: var(--dark-gray);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

header h1 {
    padding-left: 30px;
    padding-top: 15px; 
    margin-bottom: 15px;
    margin-top: 15px;
    color: var(--dark-gray);
    background-color: var(--highlight);
    width: 240px;
}

header nav {
    margin: 30px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 70px;
}

header nav ul li {
    border-bottom: 0.21em solid var(--highlight);
    line-height: 2;
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--highlight);
    padding: 10px 15px;
}


/* Styling for hero */
.hero {
    background-image: url(../images/Example.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-position: 80%;
    height: 200px;
}

.subtitle {
    -webkit-align-self: flex-end;
    align-self: flex-end;
}

/* Styling for footer */

footer {
    display: flex;
    justify-content: space-between;
    flex: wrap;
}
footer h1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
    margin-left: 100px;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: right;
}

footer h1:after {
    content: "" ;
    width: 0;
    height: 70px;
    position: relative;
    border-right: 4px solid var(--dark-gray);
    top: 3px;
    left: 10px;
}

footer nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 20px;
}

footer nav ul li {
    border-bottom: 0.21em solid var(--dark-gray);
    line-height: 2;
    margin: 28px 90px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* insert vertical line */

.vertical-line {

}